<html>
<head>
    <title>Contoh Flask-MySQL</title>
</head>
<body>
    <h2>Contoh Flask-MySQL</h2>
    <table border="1">
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>No Telp</td>
        </tr>
        {% for baris in container %}
        <tr>
            <td>{{baris[0]}}</td>
            <td>{{baris[1]}}</td>
            <td>{{baris[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{url_for('insert')}}">Tambah Data</a></p>
</body>
</html>