<html>
    <head>
        <title>Contoh session</title>
    </head>
    <body>
        <h2>LOGIN</h2>
        {%  if msg %}
            <p style="color:red">{{ msg }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method = "post">
            Username: <br/>
            <input type="text" name = "username"/><br/>
            password : <br/>
            <input type = "password" name="password"/><br/>
            <p><input type='submit' value='login'/></p>
        </form>
    </body>
</html>