<html>
    <head>
        <title>Cookie ARUM</title>
    </head>
    <body>
        <h2>DEWI ARUMSARI<br/>COOKIE</h2>
        <p style="color:blueviolet">{{ msg }}</p>
        <p> Aksi:
            <a href = "{{ url_for('ubahCookie') }}">Ubah</a>
            <a href = "{{ url_for('hapusCookie') }}">Hapus</a>
        </p>
        <p>Untuk melihat cookie, link.</p>
        <p> Aksi:
            <a href ="{{ url_for('halaman1') }}">Halaman 1</a>
            <a href = "{{ url_for('halaman2') }}">Halaman 2</a>
        </p>
    </body>
</html>